altgraph==0.17
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.4
dlib==19.21.1
face-recognition==1.3.0
face-recognition-models==0.3.0
future==0.18.2
idna==2.10
iniconfig==1.1.1
numpy==1.19.3
packaging==20.8
pefile==2019.4.18
Pillow==8.0.1
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
py2exe==0.10.1.0
pycodestyle==2.6.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyodbc==4.0.30
pyparsing==2.4.7
pytest==6.2.1
pywin32-ctypes==0.2.0
requests==2.25.1
toml==0.10.2
urllib3==1.26.2
XlsxWriter==1.3.7
xlwt==1.3.0
