absl-py==0.12.0
altgraph==0.17
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.4
dataclasses==0.6
Django==3.1.7
dlib==19.21.1
docutils==0.17
face-recognition==1.3.0
face-recognition-models==0.3.0
future==0.18.2
idna==2.10
iniconfig==1.1.1
mediapipe==0.8.3.1
numpy==1.19.3
opencv-contrib-python==4.4.0.46
opencv-python==4.5.1.48
packaging==20.8
pefile==2019.4.18
Pillow==8.0.1
pluggy==0.13.1
protobuf==3.15.8
psutil==5.8.0
py==1.10.0
pycodestyle==2.6.0
Pygments==2.8.1
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyparsing==2.4.7
pypiwin32==223
pytest==6.2.1
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
sentry-sdk==1.0.0
six==1.15.0
toml==0.10.2
XlsxWriter==1.3.7
